.products {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0px 20px;
}
.products .slide-products {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.products .slide-products .card-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
  animation: animateOpacity 31s infinite;
}
.products .slide-products .card-slider:nth-child(1),
.products .slide-products .card-slider .crd-r img:nth-child(1) {
  animation-delay: 0s;
}

.products .slide-products .card-slider:nth-child(2),
.products .slide-products .card-slider .crd-r img:nth-child(2) {
  animation-delay: 10s;
}

.products .slide-products .card-slider:nth-child(3),
.products .slide-products .card-slider .crd-r img:nth-child(3) {
  animation-delay: 20s;
}
.products .slide-products .card-slider .crd-l {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}
.products .slide-products .card-slider .crd-l h1 {
  padding: 20px 0;
  font-size: 50px;
  line-height: 70px;
  color: var(--light1);
  text-shadow: 0px 0px 10px var(--txt-dark-40);
}

.products .slide-products .card-slider .crd-l p {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  color: var(--light1);
  text-shadow: 0px 0px 10px var(--txt-dark-40);
}

.products .slide-products .card-slider .crd-r {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

.products .slide-products .card-slider .crd-r img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  animation: animateZoom 31s infinite;
}
@keyframes animateOpacity {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes animateZoom {
  100% {
    transform: scale(1.4);
  }
}
.showProducts {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* FILTER PRODUCT UPDATED */

.showProducts .filter {
  width: 400px;
  height: auto;
  box-shadow: 0px 0px 10px var(--txt-dark-20);
  position: relative;
  margin-left: 20px;
  border-radius: 5px;
  background: var(--light1);
  padding-bottom: 30px;
}
.showProducts .filter .filter-bg-responsive {
  display: none;
  width: 80%;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  background: var(--light2);
  margin: 20px auto;
  font-size: 20px;
  color: var(--dark2);
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.filter .ft-search {
  width: 100%;
  height: auto;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.filter .ft-search span {
  margin-bottom: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--dark2);
  font-weight: 600;
}
.filter .ft-search input.search-pr {
  width: 100%;
  font-size: 18px;
  color: var(--dark6);
  padding: 10px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px var(--txt-dark-30);
  background: var(--light2);
}
.filter .filter-ck {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.filter-ck .ft-ck-cate,
.ft-c .ft-c-sort,
.ft-range .ft-r-title {
  padding: 0px 0px 20px 20px;
  font-size: 30px;
  color: var(--dark2);
  font-weight: 600;
}
.ft-ck-single {
  width: 100%;
  height: auto;
  padding: 10px 0px 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ft-ck-single input[type="checkbox"] {
  appearance: none;
  --weikit-appearance: none;
  width: 40px;
  height: 40px;
  background: var(--gray2);
  margin-right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  transition: 0.5s;
}
.ft-ck-single input[type="checkbox"]:before,
.ft-ck-single input[type="checkbox"]:after {
  content: "";
  position: absolute;
  background: var(--light1);
  border-radius: 4px 4px 0px 0px;
  opacity: 0;
}
.ft-ck-single input[type="checkbox"]:before {
  width: 0px;
  height: px;
  top: 53%;
  left: 10%;
  transform: rotate(45deg);
  transition: 0.2s;
}
.ft-ck-single input[type="checkbox"]:after {
  width: 0px;
  height: 0px;
  top: 50%;
  right: 8%;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.ft-ck-single input[type="checkbox"]:hover {
  background: var(--gray3);
}
.ft-ck-single input[type="checkbox"]:checked {
  background: var(--money-v2);
}
.ft-ck-single input[type="checkbox"]:checked:before {
  opacity: 1;
  width: 17px;
  height: 5px;
}
.ft-ck-single input[type="checkbox"]:checked:after {
  opacity: 1;
  width: 24px;
  height: 5px;
}
label.ft-cate-checkbox {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  font-family: "Poppins", sans-serif;
  color: var(--dark2);
}
.ft-c {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.ft-c .sl-wrap {
  padding: 0px 20px;
}
.ft-c .ft-c-select {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  outline: none;
  border: none;
  background: var(--light2);
  color: var(--dark2);
  letter-spacing: 1px;
  box-shadow: 0px 0px 5px var(--txt-dark-30);
}
.ft-range {
  width: 100%;
  position: relative;
}
.ft-range .ft-r-iput {
  padding: 0px 20px;
  width: 100%;
}
.ft-range .ft-r-iput input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  background: var(--dark2);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px var(--txt-dark-10);
  cursor: pointer;
}

.ft-range .ft-r-iput input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #636e72;
  border-radius: 50%;
  border: 5px solid var(--money-v2);
}
/* END FILTER PRODUCT UPDATED */

.prd {
  width: 80%;
  height: 100%;
}

.prd .product-s {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 20px;
  padding: 0px 20px 20px 20px;
}

.prd .product-s .prdBx {
  position: relative;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 6px var(--txt-dark-30);
  color: var(--dark2);
}

.prd .product-s .prdBx .editPrd {
  position: absolute;
  color: var(--dark2);
  font-size: 30px;
  box-shadow: 0px 0px 10px #000;
  right: 6%;
  top: 4%;
  z-index: 1;
  cursor: pointer;
  border-radius: 15%;
}

.prd .product-s .prdBx .editPrd:hover {
  color: var(--money-v3);
}

.prd .product-s .prdBx .img-wraper {
  width: 94%;
  height: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-top: 5px;
}

.prd .product-s .prdBx .img-wraper img {
  max-width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.3s;
}

.prd .product-s .prdBx .img-wraper:hover img {
  transform: scale(1.1);
}

.prd .product-s .prdBx h2 {
  font-size: 20px;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.prd .product-s .prdBx span {
  font-size: 15px;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.prd .product-s .prdBx .rating {
  font-size: 20px;
  text-align: left;
  width: 100%;
  display: flex;
  color: #f1c40f;
  padding-left: 10px;
  cursor: pointer;
}

.prd .product-s .prdBx .prdDecription {
  font-size: 16px;
  word-break: break-all;
  padding: 0px 10px 10px 10px;
  line-height: 25px;
  font-family: "Odibee Sans", cursive;
}

.prd .product-s .prdBx .prdBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.prd .product-s .prdBx .prdBot span {
  font-size: 25px;
}

.prd .product-s .prdBx .prdBot button {
  width: 270px;
  padding: 15px 0;
  margin-right: 10px;
  text-align: center;
  outline: none;
  border: none;
  background: var(--ocean2);
  color: var(--light1);
  border-radius: 10px;
  cursor: pointer;
}
.products-recommend {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.accordion-navigation {
  width: 100%;
  position: relative;
}

.accordion-navigation ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.accordion-navigation ul li {
  margin: 5px 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid var(--gray2);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.accordion-navigation ul li.active {
  background: var(--dark2);
  color: var(--light1);
}
/* REPONSIVE PRODUCT */
@media (max-width: 1024px) {
  .showProducts .filter {
    position: absolute;
    z-index: 2;
    margin-left: unset;
    left: -150%;
    top: 0%;
    transition: 0.4s;
  }
  .overlay-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--txt-dark-40);
    display: none;
  }
  .overlay-mobile.dark {
    display: unset;
    z-index: 2;
  }
  .showProducts .filter.openFilter {
    left: 0%;
  }

  .prd {
    width: 100%;
  }
}
@media (max-width: 936px) {
  .products {
    padding: 0px 5px;
  }
  .prd .product-s {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5px;
    padding: 0px 10px 20px 10px;
  }
  .prd .product-s .prdBx {
    height: 450px;
  }
  .prd .product-s .prdBx .img-wraper {
    height: 185px;
  }
  .products .slide-products .card-slider .crd-l h1 {
    padding: 15px 0;
    font-size: 35px;
    line-height: 65px;
    word-wrap: break-word;
    line-height: unset;
  }
  .products .slide-products .card-slider .crd-l p {
    font-weight: 600;
    font-size: 17px;
    word-wrap: break-word;
    line-height: 30px;
  }
}
@media (max-width: 475px) {
  .prd .product-s .prdBx .rating {
    font-size: 16px;
  }
  .prd .product-s .prdBx h2 {
    font-size: 19px;
  }
  .prd .product-s .prdBx .prdBot span {
    font-size: 20px;
  }
  .prd .product-s .prdBx .prdBot button {
    width: auto;
    padding: 10px 50px;
    font-size: 15px;
  }
  .showProducts .filter {
    width: 100%;
  }
  .filter-ck .ft-ck-cate,
  .ft-c .ft-c-sort,
  .ft-range .ft-r-title {
    font-size: 23px;
  }
  label.ft-cate-checkbox {
    font-size: 17px;
    font-weight: 500;
  }
  .ft-c .ft-c-select {
    font-size: 17px;
    font-weight: 500;
  }
  .ft-ck-single input[type="checkbox"] {
    width: 35px;
    height: 35px;
  }
  .ft-ck-single input[type="checkbox"]:checked:after {
    width: 20px;
    height: 4px;
  }
  .ft-ck-single input[type="checkbox"]:checked:before {
    width: 15px;
    height: 4px;
  }
  .accordion-navigation ul {
    width: 80%;
  }
  .accordion-navigation ul li {
    font-size: 17px;
    width: 35px;
    height: 35px;
  }
}
