/* use rem  */

.login,
.login .main__login,
.login .main__login .l-l,
.main__login .l-l .icons,
.main__login .l-l .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--light3);
}

.login .main__login {
  position: relative;
  min-width: 66rem;
  height: 46rem;
  background: var(--light1);
  border-radius: 0.765rem;
  overflow: hidden;
  box-shadow: 0.125rem 0.125rem 0.3rem rgba(0, 0, 0, 0.3);
}

.login .main__login .l-l {
  position: relative;
  flex-direction: column;
  width: 50%;
}

.main__login .l-l h1 {
  font-weight: 900;
  font-size: 2.56rem;
  margin: 0 0 2rem 0;
  color: var(--dark4);
  font-family: "Audiowide", cursive;
}

.main__login .l-l .icons {
  position: relative;
  margin-bottom: 2.5rem;
}

.main__login .l-l .icons .icon {
  margin: 0 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid var(--dark4);
  border-radius: 50%;
  color: var(--dark4);
  cursor: pointer;
  transition: 0.5s;
}

.main__login .l-l .icons .icon:hover svg {
  transform: scale(1.2);
  transition: 0.5s;
}

.main__login .l-l p {
  color: var(--dark4);
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.main__login .l-l input {
  width: 75%;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.75rem 0.55rem;
  margin-bottom: 0.75rem;
  border: 0.125rem solid var(--light2);
  color: var(--dark4);
  border-radius: 0.5rem;
  outline: none;
}

.main__login .l-l .cb-txt {
  position: relative;
  margin-bottom: 1.2rem;
}

.main__login .l-l .cb-txt input[type="checkbox"] {
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.main__login .l-l .cb-txt label {
  position: relative;
  cursor: pointer;
}

.main__login .l-l .cb-txt label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.125rem solid var(--dark4);
  border-radius: 0.24rem;
  box-shadow: var(--box-shadow-dark-inset);
  padding: 0.65rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.75rem;
}

.main__login .l-l .cb-txt input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid var(--dark4);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main__login .l-l .btn-action {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main__login .l-l .btn-action button {
  width: 45%;
  padding: 0.67rem 0rem;
  border-radius: 0.45rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--light1);
  background: var(--dark4);
  border: 0.125rem solid var(--dark4);
}

.main__login .l-l .btn-action button:nth-child(2) {
  color: var(--dark4);
  background: var(--light1);
  border: 0.125rem solid var(--dark4);
}

.main__login .l-l .sl-auth {
  margin-top: 15px;
  text-align: center;
}

.login .main__login .r-l {
  position: relative;
  width: 50%;
  height: 100%;
  background: url("../../img/main.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 0.765rem;
}
.show-errLogin {
  color: var(--tomato);
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid;
  padding: 3px 15px;
  border-radius: 20px;
  box-shadow: var(--shadow-red);
  animation: ring 0.5s forwards;
}
@media (max-width: 1070px) {
  .login {
    padding: 0px 20px;
  }
  .login .main__login {
    position: relative;
    min-width: unset;
    width: 100%;
  }
}
@media (max-width: 855px) {
  .login .main__login .l-l {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .login .main__login .l-l {
    width: 100%;
  }
  .login .main__login .r-l {
    display: none;
  }
  .login::before {
    background-image: url("../../img/main.png");
    object-fit: cover;
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  .main__login .l-l input {
    font-weight: 600;
  }
}
@media (max-width: 485px) {
  .login .main__login {
    height: auto;
    padding: 40px 0;
  }
  .main__login .l-l input {
    width: 90%;
    font-size: 1rem;
  }
  .main__login .l-l .btn-action {
    width: 90%;
  }
  .main__login .l-l .btn-action button {
    font-size: 1rem;
  }
}
